### SBT template
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/
.bsp/*
### Scala template
*.class
*.log
### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.bsp